<% if @categories.present? %>
    <div class="col-md-3">
      <p class="lead">Categories</p>
      <div class="list-group">

          <% @categories.each do |cat|%>
                <%= link_to cat.name, search_by_category_homes_path(:category_id => cat.id), :class => 'list-group-item' %>
          <% end %>
      </div>
      <% if session[:user_logged_id].present? %>
      <p class="lead">Chat</p>
      <div class="list-group">
        <a href="<%= comments_path %>" class="list-group-item">Comments</a>
        <a href="<%= messages_path %>" class="list-group-item">Messages</a>
      </div>
      <% end %>
    </div>
<% end %>