<div class="col-md-3">
  <p class="lead">Products</p>
  <div class="list-group">
    <a href="#" class="list-group-item">Medicines</a>
    <a href="#" class="list-group-item">Herbal</a>
    <a href="#" class="list-group-item">Nutriceuticals</a>
    <a href="#" class="list-group-item">Beauty Products</a>
    <a href="#" class="list-group-item">Biomedical</a>
    <a href="#" class="list-group-item">Medical Equipment</a>
    <a href="#" class="list-group-item">Other Products</a>
  </div>
  <p class="lead">Services</p>
  <div class="list-group">
    <a href="#" class="list-group-item">Medical Services</a>
    <a href="#" class="list-group-item">Allied Services</a>
    <a href="#" class="list-group-item">Other Services</a>
  </div>
</div>